{% include "header.html" %}
<div class="cafe_page">

        <div id="cafe_name" class="cafe_child">
            {{ this_cafe.name }}
        </div>

        <div id="img_container">
            <img class="cafe_img" src="{{ this_cafe.img_url }}">
        </div>

        <div class="cafe_child cafe_location text">
            {{ this_cafe.location }}
        </div>

        <div id="cafe_map cafe_child">
            <img src="{{ this_cafe.map_url }}">
        </div>
        
        <div class="cafe_info_child cafe_child">
            <h3>ABOUT {{ this_cafe.name }}</h3>
        </div>
        <br>

        <div id="cafe_info_container">
            <div id="cafe_properties_container">

                <div class="cafe_properties_child property">
                    SOCKETS:
                </div>

                <div class="cafe_properties_child property">
                    TOILETS:
                </div>


                <div class="cafe_properties_child property">
                    WIFI:
                </div>

                <div class="cafe_properties_child property">
                    CALLS:
                </div>

                <div class="cafe_properties_child property">
                    SEATS:
                </div>

                <div class="cafe_properties_child property">
                    COST:
                </div>
            </div>

            <div id="property_value_container">

                <div class="cafe_property_value_child">
                    {{ this_cafe.has_sockets }}
                </div>

                <div class="cafe_property_value_child">
                    {{ this_cafe.has_toilets }}
                </div>

                <div class="cafe_property_value_child">
                    {{ this_cafe.has_wifi }}
                </div>

                <div class="cafe_property_value_child">
                    {{ this_cafe.can_take_calls }}
                </div>

                <div class="cafe_property_value_child">
                    {{ this_cafe.seats }}
                </div>

                <div class="cafe_property_value_child">
                    {{ this_cafe.coffee_price }}
                </div>

            </div>
        </div>

</div>
{% include "footer.html" %}
