/*html {
    display: table;
    margin: auto;
}*/

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

header {
    display: flex;
    justify-content: center;
}

img {
    max-width: 50%;
}

#img_container {
    display: flex;
    justify-content: center;
}

.empty-div:after {
    content: '.';
    visibility: hidden;
}

.text {
    text-align: center;
}

.intro {
    color:white;
    text-align: center;
}

.form-input {
    align-self: center;
    width: 50%;
    margin-right: 25%;
    padding: 8px;
    box-sizing: border-box;
    }

.table {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.row-container {
    display: flex;
    justify-content: space-around;
}

.field {
    text-align:right;
}

.name {
    color:red;
}

.cafe_page {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.cafe_child {
    display: flex;
    justify-content: center;
}

#cafe_info_container {
    display: flex;
    justify-content: center;
}

.property {
    display: flex;
    justify-content: space-between;
}

#cafe_properties_container {
    flex-direction: row;
}

.cafe_property_value_child {
    display: flex;
    justify-content: space-around;

}
